@font-face {
    font-family: "Calculator";
    src: url("digital-7-font/Digital7-1e1Z.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
}

#calculator {
    border: 2px solid;
    padding: 20px;
    border-radius: 10px;
    background-color: #39CCCC;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#screen {
    width: 284px;
    height: 84px;
    border: 2px solid;
    font-size: 84px;
    font-family: "Calculator";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: lightgrey;
    padding-right: 4px;
}

.button {
    width: 60px;
    height: 60px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 36px;
    border-radius: 10px;
    background-color: lightgrey;
}

.button:active {
    background-color: darkgrey;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.square-root {
    font-size: 30px;
}

.clear, .delete,
.square-root, .add,
.subtract, .multiply,
.divide, .equals {
    background-color: #0074D9;
    color: white;
    border-color: black;
}